html
  head
    title Industrial Visual Analysis - powered by Bluemix and Watson
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
    link(href='/public/css/index.css' rel='stylesheet')
    link(rel="icon" href="data:;base64,=")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
  body
    div(class='heading')
        h1(class='minimalpad')
            a(href="/") Industrial Visual Analysis
        p analyze on sight...
        div(class='minimalpad upload')
            a(class='button' href="/simulator") Upload New Image
